@tailwind base;
@tailwind components;
@tailwind utilities;

.navBarBackground{
  background-color: #F5F5F5;
}

/* styles/globals.css */
.custom-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  border-bottom: 2px solid #FF0000;
}

.custom-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 90%;
  
}
